header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em;
}

.logo__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 5px solid var(--preto);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    color: var(--preto);
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.logo__texto {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.logo__link:hover {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);    
}

.logo__link:hover .logo__texto {
    -webkit-transform:  rotate(90deg);
        -ms-transform:  rotate(90deg);
            transform:  rotate(90deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

.nav {
    position: fixed;
    background: var(--cinza);
    color: var(--branco);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(.5, 0, .5, 1);
    transition: -webkit-transform 250ms cubic-bezier(.5, 0, .5, 1);
    -o-transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1), -webkit-transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fonte-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--azul-claro);
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.7em;
    z-index: 1000;
}

.nav-open .nav {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburguer {
    -webkit-transform: rotate(.625turn);
        -ms-transform: rotate(.625turn);
            transform: rotate(.625turn);
}

.nav-open .hamburguer::before {
    -webkit-transform: rotate(90deg) translateX(-6px);
        -ms-transform: rotate(90deg) translateX(-6px);
            transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburguer::after {
    opacity: 0;
}

.hamburguer {    
    display: block;
    position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after{
    background: var(--azul-claro);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburguer::before {
    top:6px;
}

.hamburguer::after {
    bottom: 6px;
}


