.intro {
    position: relative;
}

.intro__img {
    -webkit-box-shadow: var(--bs);
            box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: -ms-grid;
        display: grid;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;        
        margin: 0 auto;
        -webkit-column-gap: 1em;
           -moz-column-gap: 1em;
                column-gap: 1em;
            grid-template-areas: "img title" "img subtitle";
        -ms-grid-columns: -webkit-min-content 1em -webkit-max-content;
        -ms-grid-columns: min-content 1em max-content;
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content;               
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section__subtitle--intro {
        -ms-grid-row-align: start;
            align-self: start;
        grid-column: -1 / 1;
        -ms-grid-row: 2;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        
    }
}

@media (min-width: 600px) {
    .intro__img {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;               
    }
}

