.my-work {
    background-color: var(--cinza);
    color: var(--branco);
    text-align: center;
}

.portfolio {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background-color: var(--azul-claro);
    overflow: hidden;
    position: relative;
    text-align: center;      
}

.portfolio__img {
    -webkit-transition: 
        opacity 250ms linear,
        -webkit-transform 750ms cubic-bezier(.5, 0, .5, 1);
    transition: 
        opacity 250ms linear,
        -webkit-transform 750ms cubic-bezier(.5, 0, .5, 1);
    -o-transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear,
        -webkit-transform 750ms cubic-bezier(.5, 0, .5, 1);        
}


.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    opacity: .75;
} 










