.intro {
    padding-bottom: 2em;
}

.portfolio-item-individual {    
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.portfolio-item-individual p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;  
    padding-bottom: 2em;  
}

.btn--portfolio {
    margin: 4em 0;
}

