.my-services {
    background-color: var(--cinza);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    /*background-blend-mode: multiply;*/
    color: var(--branco);
    text-align: center;
}

.section__title--services {
    color: var(--azul-claro);
    position: relative;
}

.section__title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--branco);
    opacity: 0.25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.services {
    margin-bottom: 4em;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        gap: 2em;        
    }
}